body {
  text-align: center;
  margin: 0;
  overflow: hidden;
  animation: gradientAnimation 10s infinite alternate;
  background: linear-gradient(45deg, #3498db, #c5e73c, #00f1c1, #f39c12);
  background-size: 400% 400%;
}
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }

    25% {
      background-position: 100% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }


h1 {
  color: #262333;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Arial', sans-serif;

}

p {
  color: #000000;
  font-size: 40px;
  position: relative;
  top: 10px;
  font-weight: 700;
}

.count {
  display: flex;
  justify-content: center;


}

.btn {
  width: 70px;
  height: 50px;
  border: 2px solid black;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

button:hover {
  background-color: black;
  color: white;
}

button {
  width: 150px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}